[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "include/miniz-cpp"]
	path = include/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp.git
