[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip.git
